.env
venv
# binaries
bin/
dist/
lib/
frontend/build/


# editors
*.swp
.idea/
.vs/
.vscode/
.DS_Store

frontend/node_modules/
frontend/package-lock.json
frontend/src/auth_config.json

__pycache__/
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.orig.
web-build/
frontend/yarn.lock
