
.navbar {
    background-color: #1E2019;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1rem;

    
    .start {
        display: flex;
        flex-direction: row;
        text-decoration: none;
        font-size: 1.25rem;
        line-height: 50px;
        margin-left: 1rem;
    }

    .start:hover {
        text-decoration: underline;
    }

    .Bench {
        color: #DFEFCA;
        order: 1;
    
    }
    
    .ML {
        color: #AFC2D5; 
        order: 2;
    }

    .end {
        .models-account {
            display: flex;
            flex-direction: row;
            list-style: none;

            .nav-item {
                margin-right: 1rem;
                .nav-item-link{
                color: #FFFF
                }
            }
            .nav-item:hover {
            text-decoration: underline;
            }
        }
    }
}