.navbar-items {
    background-color: #1E2019;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1rem;
    
    .start {
        display: flex;
        flex-direction: row;
        padding-left: 1%;
        text-decoration: none;
    }

    .Bench {
        color: #DFEFCA;
        order: 1;
        ;font-size:2rem;
        padding-top:4%;
    }
    
    .ML {
        color: #AFC2D5; 
        order: 2;
        font-size:2rem;
        padding-top:4%;
    }

    .end {
        padding-right: 1%;
        .models-account {
            display: flex;
            flex-direction: row;
            list-style: none;

            .nav-item {
                padding-left: 3%;
                inline-size: 6rem;
                .nav-item-link{
                    color: #FFFF
                }
            }
        }
    }
}